html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#map{
  width: 100%;
  height: 100%;
}
#vehicle-list {
  font-family: sans-serif;
  font-size: 12px;
  z-index: 9999;
  position: absolute;
  top: 100px;
  left: 20px;
  width: 250px;
  background-color: #FFFFFF;
  color: #555555;
}
.vehicle-container{
  margin: 7px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eeeeee;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
  cursor: pointer;

  .title{
    font-size: 13px;
    font-weight: bolder;
  }
}
